@using Microsoft.AspNetCore.Mvc.TagHelpers
@model LotsOfFun.Ui.Mvc.Models.People.PeopleViewModel

<a asp-action="Create" class="btn btn-primary">Add new Person</a>
<table class="table table-stripped table-bordered">
    <thead>
    <tr>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Actions</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.People)
    {
        <partial name="PersonRowPartial" model="item"/>
    }
    </tbody>
</table>
<p>Total: @Model.TotalCount</p>