@model PersonViewModel

<tr>
    <td>@Model.Name</td>
    <td>@Model.Email</td>
    <td><div class="d-flex justify-content-between">
        <a class="btn btn-outline-primary">Edit</a>
        <button class="btn btn-outline-danger">Delete</button>
    </div></td>
</tr>